* {
    user-select: none;
    text-decoration: none;
}
.container {
    margin: 30px;
    display: flex;
    flex-direction: row;

}

.logo {
    width: 5vw;
    height:5vw;
    background-color: #B497D6;

    border-radius: 100%;
}

.title {
    margin: auto 0;
    margin-left: 30px;
    color: #E1E2EF;

    font-size: 2vw;
    font-weight: 700;
}

.button {
    margin: auto 0;
    margin-left: 30px;
    color: #E1E2EF;

    font-size: 2vw;
    font-weight: 700;

    transition: 300ms ease;
}
.button:hover {
    color: #B497D6;
    transition: 300ms ease;
}